<div ng-cloak>
    <div class="row">
        <div class="col-lg-2">
            <h2>To be done</h2>
        </div>
    </div>

    <div class="row">
        <form name="todos" ng-submit="vm.save()">
            <div class="form-group" ng-repeat="item in vm.todoItems">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="item.isDone">
                    </span>
                    <input type="text" class="form-control" id="description" ng-class="{deleted: item.isDone}" ng-model="item.description" placeholder="What needs to be done?">
                    <span class="input-group-addon">
                        <span class="edit-btn btn glyphicon glyphicon-remove" ng-click="vm.removeItem($index)"></span>
                    </span>
                </div>
            </div>
            <button type="submit" ng-disabled="todos.$pristine" class="btn btn-danger">Save List</button>
            <button class="btn btn-info" ng-click="vm.addItem()">Add Item</button>
        </form>
        <!--<ul id="todo-items" class="list-unstyled col-lg-8">
            <li ng-repeat="item in vm.todoItems" class="list-item">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="item.isDone">
                    </span>
                    <input class="form-control" ng-class="{deleted: item.isDone}" ng-model="item.description">
                    <span class="input-group-addon">
                        <span class="edit-btn btn glyphicon glyphicon-remove" ng-click="vm.removeItem($index)"></span>
                    </span>
                </div>
            </li>
        </ul>-->
    </div>
</div>