<div ng-cloak>
    <div class="row">
        <div class="col-lg-2">
            <h2>To be done</h2>
        </div>
    </div>

    <div class="row">
        <ul id="todo-items" class="list-unstyled col-lg-8">
            <li ng-repeat="item in vm.todoItems" class="list-item">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="item.isDone">
                    </span>
                    <input class="form-control" ng-class="{deleted: item.isDone}" ng-model="item.description">
                    <span class="input-group-addon">
                        <span class="edit-btn btn glyphicon glyphicon-remove" ng-click="vm.removeItem($index)"></span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <button class="btn btn-info" ng-click="vm.addItem()">Add Item</button>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-danger" ng-click="vm.saveList()">Save List</button>
        </div>
    </div>
</div>